@import "../variables";
.main {
  &_inner {
    padding: 64px 0;
  }
}
.title {
  font-size: 34px;
  font-weight: $semibold;
  border-bottom: 2px solid $orange;
  margin-bottom: 5px;
}
.path {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 35px;
}

.form {
  display: block;
  width: 100%;
  margin-bottom: 30px;
  //   margin: 0 auto;
  //   padding: 293px 0 367px 0;
}

.input {
  width: 962px;
  font-size: $standart;
  padding: 12px 18px;
  margin-right: 28px;
}

.btn {
  width: 210px;
  padding: 13px 40px;
  font-size: $standart;
  color: $white;
  background-color: $blue;
  border: none;
  &:hover {
    cursor: pointer;
  }
}

.noresult {
  padding: 158px 0;
  text-align: center;
  &_title {
    font-size: 34px;
    font-weight: $semibold;
    margin-bottom: 16px;
  }
  &_text {
    font-family: "Open Sans";
    color: #434343;
    font-size: 24px;
  }
}

.finded{
  display: flex;
  &_filterbar{
    width: 30%;
  }
  &_list{
    width: 70%;
  }
  &_title {
  font-size: 26px;
  line-height: 36px;
}
}

.more{
  cursor: pointer;
  text-decoration: underline;
}
