@import '../variables';
.icons {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: $white;
  &:hover {
    background-color: $top-menu-hovered;
  }
}
.basket {
  background: center no-repeat url("../../images/header/shop_icon.svg");
  
}

.favorites {
    background: center no-repeat url('../../images/header/favorites_icon.svg');
}

.account {
    background: center no-repeat url('../../images/header/account.svg');
}

.dropMenu {
  border:none !important;
  padding: 0 30px 0 0 !important;
}