.slick_arrow {
  &_left {
    background-image: url("../../images/main_page/carousel/arrow_left.png") !important;
    width: 32px !important;
    height: 32px !important;
    &:hover {
      background-image: url("../../images/main_page/carousel/arrow_left.png") !important;
    }
    &::before {
      content: "" !important;
    }
  }
  &_right {
    background-image: url("../../images/main_page/carousel/arrow_right.png") !important;
    width: 32px !important;
    height: 32px !important;
    &:hover {
      background-image: url("../../images/main_page/carousel/arrow_right.png") !important;
    }
    &::before {
      content: "" !important;
    }
  }
}
