.bg {
  background-color: #f4f4f4;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}

.right_side {
  width: 60%;
  &_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &_bottom {
    display: flex;
    justify-content: space-between;
  }
}

.about {
  width: 20%;
}

.info {
  width: 20%;
}

.accept {
  width: 20%;
  &_img{
    margin-right: 8px;
    &:last-child{
        margin-right: 0;
    }
  }
}

.sotial {
  width: 20%;
  &_link {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  &:last-child{
    margin-right: 0;
  }
  
  &_saatchi {
    background: center no-repeat url('../../images/footer/Saatchi.svg');
  }
  &_opensea{
    background: center no-repeat url('../../images/footer/opensea.svg');
  }
  &_rarible{
    background: center no-repeat url('../../images/footer/rerible.svg');
  }
  &_instagram{
    background: center no-repeat url('../../images/footer/instagram.svg');
  }
}
}

.title {
  color: #434343;
  margin-bottom: 12px;
}
